<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        table.table
        {
            margin-top: 10px;
        }
        table.table > thead > tr > th{
            background: #286090;
            color:#ffffff;
        }
        .search label {
            color:#286090;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Patient Medical History</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Enter Patient Data</a></li>
            <li class="active"><a href="#">View Patient Data</a></li>
        </ul>
    </div>
</nav>


<div class='container-fluid search'>
    <div class='row'>
        <div class='col-sm-2'>
            <form action="#" th:action="@{/checkkey}" th:object="${webFormData}" method="post">
                <label >Enter key to proceed:</label><label th:if="${error} == 'true'" style="color:red;">&nbsp;invalid key</label>
                <input type="form-control" name="firstName" th:field="*{firstName}" required>
                <input class='btn btn-xs btn-primary' type="submit" value="login" />

            </form>
        </div>
    </div>
</div>
